<h1 align="center">Listing all Rijschools</h1>
  <% @schools.each do |f| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="school-title"> 
            <%= link_to f.name, school_path(f) %>
          </div>
          <div class="school-body"> 
            <p><%= truncate(f.description, length: 50) %></p>
            <p><%= f.contact %></p>
            <p><a href="link#"><%= f.link %></a></p>
          </div>
          <div class="school-actions">
            <%= link_to "Delete Rijschool", school_path(f), method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: "btn btn-xs btn-danger" %>
            <%= link_to "Edit Rijschool", edit_school_path(f), class: "btn btn-xs btn-primary" %>
          </div>     
        </div>
      </div>
    </div>
  <% end %>